GITLAB_HOSTNAME=gitlab-tencent-sh-1.daydaymoney.com
GITLAB_EXTERNAL_HOST=gitlab-tencent-sh-1.daydaymoney.com
GITLAB_HTTP_PORT=8014
GITLAB_SSH_PORT=2223
GITLAB_SSH_ADVERTISE_PORT=2223
GITLAB_EXTERNAL_URL=https://gitlab-tencent-sh-1.daydaymoney.com
GITLAB_HOME=/var/lib/daydaymoney/gitService-tencent-sh-1
GITLAB_MEM_LIMIT=2g
GITLAB_SHM_SIZE=256m
GITLAB_PUMA_WORKERS=1
GITLAB_SIDEKIQ_CONCURRENCY=2
GITLAB_CONTAINER_NAME=gitlab-tencent-sh-1
GITLAB_OIDC_ISSUER=https://api.daydaymoney.com
GITLAB_OIDC_CLIENT_ID=gitlab-git-service-tencent-sh-1
GITLAB_OIDC_CLIENT_SECRET=
GITLAB_OIDC_REDIRECT_URI=https://gitlab-tencent-sh-1.daydaymoney.com/users/auth/openid_connect/callback
GITLAB_SIGNUP_ENABLED=false
GITLAB_PASSWORD_AUTH_WEB=false
GITLAB_PASSWORD_AUTH_GIT=false
COMPOSE_PROJECT_NAME=gitservice-tencent-sh-1
